.banner-1{
    background-image: url("../img/conteudo/background-slide-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

.banner-2{
    background-image: url("../img/conteudo/background-slide-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

.categoria{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 !important;
}

.card i{
    color: green !important;
}